public class LogAction : Attribute, IActionFilter
{
  public void OnActionExecuting(ActionExecutingContext context)
  {
    Debug.WriteLine("Action is executing!");
  }

  public void OnActionExecuted(ActionExecutedContext context)
  {
    Debug.WriteLine("Action has executed!");
  }
}
