public class ResultLog : Attribute, IResultFilter
{
  public void OnResultExecuting(ResultExecutingContext context)
  {
    Debug.WriteLine("Before the result execution");
  }

  public void OnResultExecuted(ResultExecutedContext context)
  {
    Debug.WriteLine("After the result Execution");
  }
}
